.video-card-container {
    display: flex;
    flex-direction: column;
    width: 17.80rem;
    height: fit-content;
    margin: 1rem;
    cursor: pointer;
    border-radius: 0.2rem;
    transition: 0.4s linear;
}

.video-card-container:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px var(--color-hover-grey);
}

.video-thumbnail-asset {
    height: 10rem;
    width: 17.80rem;
}

.video-card-body {
    display: flex;
    align-items: center;
}

.video-title {
    font-size: 0.95rem;
    word-break: break-word;
}

.creator-name {
    font-size: 0.8rem;
    padding: 0.25rem 0;
}

.creator-acc-thumb {
    border-radius: 50%;
    padding: 0.5rem;
    height: 2.25rem;
    width: 2.25rem;
}

.video-details {
    padding: 0.5rem;
    text-align: start;
}

.video-details > p {
    margin: 0;
}

.card-overflow-menu {
    position: relative;
}

.overflow-container {
    position: absolute;
    right: 0;
    top: 2rem;
    background-color: var(--color-grey);
    color: var(--primary-bg);
}

.overflow-icn {
    padding: 0.5rem;
}

/* Media */

@media screen and (max-width: 768px) {
    .video-card-container {
        width: 24rem;
    }

    .video-thumbnail-asset {
        width: 24rem;
        height: 12.5rem;
    }

    .video-card-body {
        padding: 0.5rem;
        justify-content: space-between;
    }

    .overflow-icn {
        padding: 1rem;
    }
}

@media screen and (max-width: 320px) {
    .video-card-container {
        width: 17.80rem;
    }

    .video-thumbnail-asset {
        height: 10rem;
        width: 17.80rem;
    }
}