.nav-main {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.hamburger-menu {
    display: none;
}

.nav-main-ul {
    margin: 0;
    padding: 0;
}

.nav-main-ul .nav-main-li {
    list-style-type: none;
}

.nav-main-ul .nav-main-li a {
    text-decoration: none;
}

/* Nav middle */

.nav-item-search {
    width: 250%;
}

.nav-main-middle-icn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-grey);
    color: var(--primary-bg);
    height: 24px;
    width: 24px;
    padding: 0.4rem;
    border-radius: 0 0.2rem 0.2rem 0;
    cursor: pointer;
    transition: 0.2s linear;
}

.nav-main-middle-icn:active{
    transform: scale(0.85);
}

.nav-item-search .nav-item-search-input[type=text] {
    line-height: 1.5rem;
    outline: none;
    border: 1px solid var(--color-text-lighter-grey);
    width: 100%;
    padding-left: 0.5rem;
    border-radius: 0.2rem 0 0 0.2rem;
}

/* Nav right */
.nav-main-right {
    display: flex;
}

.nav-main-right .nav-main-li {
    margin: auto 0.5rem;
}

.nav-btn-login {
    border: 1px solid var(--color-grey);
    padding: 0.5rem 1rem;
    border-radius: 0.2rem;
    cursor: pointer;
}

.nav-btn-login:hover {
    background-color: var(--color-grey);
    color: var(--primary-bg);
}

.nav-active {
    background-color: var(--color-grey);
    color: var(--primary-bg);
}

.nav-right-icn {
    position: relative;
    font-size: 1.5rem;
    padding: 0.5rem 0.15rem;
}

.badge .badge-info {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary-bg);
    position: absolute;
    top: -0.95rem;
    right: -0.3rem;
    background-color: var(--color-highlight-orange);
    border-radius: 50%;
    font-weight: 600;
    font-size: 1rem;
    padding: 0.1rem
}

.nav-main-mobile {
    display: none;
}

/* Media Queries */

@media screen and (max-width: 768px) {

    .nav-main {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-item-home {
        font-size: 1.25rem;
    }

    .hamburger-menu {
        display: block;
        background-color: var(--color-grey);
        border: 1px solid var(--color-grey);
        color: var(--primary-bg);
        padding: 0.5rem;
        border-radius: 0.2rem;
        transition: 0.2s linear;
    }

    .hamburger-menu:active {
        transform: scale(0.8);
    }

    .nav-main-left {
        display: flex;
        width: 100%;
    }

    .nav-main-left .nav-main-li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .nav-main-middle {
        display: none;   
    }

    .nav-main-right {
        display: none;
    }

    .nav-main-mobile {
        display: block;
        margin: auto;
        width: 100%;
    }

    .nav-item-search {
        display: flex;
        justify-content: flex-start;
        margin: 1rem auto;
        width: 100%;
    }

    .sidebar-container {
        display: none;
    }
}