/* Footer */
.footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: var(--color-grey);
    color: var(--primary-bg);
    margin-top: auto;
}

.footer-ul {
    list-style-type: none;
    display: grid;
    justify-items: center;
    padding: 0;
}

.footer-item-header {
    font-size: 1.2rem;
    text-decoration: underline;
    text-underline-offset: 0.5rem;
    padding: 0.5rem 0;
}

.footer-item-container {
    padding: 1rem;
}

.footer-item {
    padding: 0.25rem;
}

.footer-links {
    color: var(--primary-bg);
}

.footer-location-icn {
    color: var(--color-red-accent);
}

.footer-socials-list {
    display: grid;
    justify-items: center;
    grid-column: 2;
    grid-row: 2;
}

.footer-socials-list {
    padding: 0;
}

.footer-socials-list li {
    text-decoration: none;
    display: inline-block;
}

.footer-item .social-icn {
    color: var(--primary-bg);
    padding-right: 0.25rem;
}

/* Media Queries */

@media screen and (max-width: 768px) {
    .footer {
        display: flex;
        flex-direction: column;
        font-size: 00.875rem;
    }
}