.App {
  text-align: center;
  background-color: var(--primary-bg);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.section-two {
  flex-grow: 1;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}